<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords"
        content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/brand/favicon.ico" />

    <!-- TITLE -->
    <title>Dashboard - Reliactyl</title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/dark-style.css" rel="stylesheet" />
    <link href="../assets/css/transparent-style.css" rel="stylesheet">
    <link href="../assets/css/skin-modes.css" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="../assets/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/colors/color1.css" />

</head>

<body class="app sidebar-mini ltr dark-mode">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">

        <%- include('./parts/header') %>
            <%- include('./parts/sidebar') %>

                <!--app-content open-->
                <div class="main-content app-content mt-0">
                    <div class="side-app">

                        <!-- CONTAINER -->
                        <div class="main-container container-fluid">

                            <!-- PAGE-HEADER -->
                            <div class="page-header">
                                <h1 class="page-title">Welcome <%= data.userinfo.username %>!</h1>
                            </div>
                            <!-- PAGE-HEADER END -->
                            <% if (variables) { %>
                                <% if (variables.error && status_replies.error[variables.error]) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-hidden="true">×</button>
                                        <i class="fa fa-frown-o me-2" aria-hidden="true"></i>
                                        <%- eval(`\`${status_replies.error[variables.error]}\``) %>
                                    </div>
                                    <% } else if (variables.success && status_replies.success[variables.success]) { %>
                                        <div class="alert alert-success" role="alert">
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-hidden="true">×</button>
                                            <i class="fa fa-check-circle-o me-2" aria-hidden="true"></i>
                                            <%- eval(`\`${status_replies.success[variables.success]}\``) %>
                                        </div>
                                        <% } else { %>
                                            <div class="alert alert-info" role="alert">
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-hidden="true">×</button>
                                                <i class="fa fa-bell-o me-2" aria-hidden="true"></i>
                                                <%= JSON.stringify(variables) %>
                                            </div>
                                            <% } %>
                                                <% } %>
                                                    <!-- ROW-1 -->
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
                                                                    <div class="card overflow-hidden">
                                                                        <div class="card-body">
                                                                            <div class="d-flex">
                                                                                <div class="mt-2">
                                                                                    <h6 class="">CPU</h6>
                                                                                    <h2 class="mb-0 number-font">
                                                                                        <%= current.cpu %>% / <%=
                                                                                                total.cpu %>%
                                                                                    </h2>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
                                                                    <div class="card overflow-hidden">
                                                                        <div class="card-body">
                                                                            <div class="d-flex">
                                                                                <div class="mt-2">
                                                                                    <h6 class="">MEMORY</h6>
                                                                                    <h2 class="mb-0 number-font">
                                                                                        <%= current.memory %>MB / <%=
                                                                                                total.memory %>MB
                                                                                    </h2>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
                                                                    <div class="card overflow-hidden">
                                                                        <div class="card-body">
                                                                            <div class="d-flex">
                                                                                <div class="mt-2">
                                                                                    <h6 class="">SERVERS</h6>
                                                                                    <h2 class="mb-0 number-font">
                                                                                        <%= current.servers %> server<%=
                                                                                                current.servers==1 ? ""
                                                                                                : "s" %>
                                                                                                / <%= total.servers %>
                                                                                                    server<%=
                                                                                                        total.servers==1
                                                                                                        ? "" : "s" %>
                                                                                    </h2>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-12 col-sm-12 col-xl-3">
                                                                    <div class="card overflow-hidden">
                                                                        <div class="card-body">
                                                                            <div class="d-flex">
                                                                                <div class="mt-2">
                                                                                    <h6 class="">DISK</h6>
                                                                                    <h2 class="mb-0 number-font">
                                                                                        <%= current.disk %>MB / <%=
                                                                                                total.disk %>MB
                                                                                    </h2>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- ROW-1 END -->

                        </div>
                        <!-- CONTAINER END -->
                    </div>
                </div>
                <!--app-content close-->

    </div>


    <%- include('./parts/footer') %>

        </div>

        <!-- BACK-TO-TOP -->
        <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

        <!-- JQUERY JS -->
        <script src="../assets/js/jquery.min.js"></script>

        <!-- BOOTSTRAP JS -->
        <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
        <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

        <!-- SPARKLINE JS-->
        <script src="../assets/js/jquery.sparkline.min.js"></script>

        <!-- Sticky js -->
        <script src="../assets/js/sticky.js"></script>

        <!-- CHART-CIRCLE JS-->
        <script src="../assets/js/circle-progress.min.js"></script>

        <!-- PIETY CHART JS-->
        <script src="../assets/plugins/peitychart/jquery.peity.min.js"></script>
        <script src="../assets/plugins/peitychart/peitychart.init.js"></script>

        <!-- SIDEBAR JS -->
        <script src="../assets/plugins/sidebar/sidebar.js"></script>

        <!-- Perfect SCROLLBAR JS-->
        <script src="../assets/plugins/p-scroll/perfect-scrollbar.js"></script>
        <script src="../assets/plugins/p-scroll/pscroll.js"></script>
        <script src="../assets/plugins/p-scroll/pscroll-1.js"></script>

        <!-- INTERNAL CHARTJS CHART JS-->
        <script src="../assets/plugins/chart/Chart.bundle.js"></script>
        <script src="../assets/plugins/chart/rounded-barchart.js"></script>
        <script src="../assets/plugins/chart/utils.js"></script>

        <!-- INTERNAL SELECT2 JS -->
        <script src="../assets/plugins/select2/select2.full.min.js"></script>

        <!-- INTERNAL Data tables js-->
        <script src="../assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
        <script src="../assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
        <script src="../assets/plugins/datatable/dataTables.responsive.min.js"></script>

        <!-- INTERNAL APEXCHART JS -->
        <script src="../assets/js/apexcharts.js"></script>
        <script src="../assets/plugins/apexchart/irregular-data-series.js"></script>

        <!-- C3 CHART JS -->
        <script src="../assets/plugins/charts-c3/d3.v5.min.js"></script>
        <script src="../assets/plugins/charts-c3/c3-chart.js"></script>

        <!-- CHART-DONUT JS -->
        <script src="../assets/js/charts.js"></script>

        <!-- INTERNAL Flot JS -->
        <script src="../assets/plugins/flot/jquery.flot.js"></script>
        <script src="../assets/plugins/flot/jquery.flot.fillbetween.js"></script>
        <script src="../assets/plugins/flot/chart.flot.sampledata.js"></script>
        <script src="../assets/plugins/flot/dashboard.sampledata.js"></script>

        <!-- INTERNAL Vector js -->
        <script src="../assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="../assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

        <!-- SIDE-MENU JS-->
        <script src="../assets/plugins/sidemenu/sidemenu.js"></script>

        <!-- INTERNAL INDEX JS -->
        <script src="../assets/js/index1.js"></script>

        <!-- Color Theme js -->
        <script src="../assets/js/themeColors.js"></script>

        <!-- CUSTOM JS -->
        <script src="../assets/js/custom.js"></script>

</body>

</html>